{%extends "base.html"%}{%block main%}

<div class="wrapper">
  <h1>Kunden</h1>
  <hr/>

  <table>
    <thead>
      <tr>
      {% for k,v in customers.0.items%}
        <td>
          {{k}}
        </td>
      {%endfor%}
      </tr>
    </thead>
    <tbody>

    {% for i in customers%}
      {%if i.created%}
      <tr>
        {% for k,v in i.items%}
        <td>
          {{v}}
        </td>
        {%endfor%}
      </tr>
      {%endif%}
    {% endfor%}
    </tbody>
  </table>

</div>

{%endblock %}
