{%extends "base.html"%}{%block main%}

<div class="wrapper">

  <div style="display:flex; flex-direction:row">



  <h1>Kunden</h1>


    <form method="get" style="display:flex;flex-direction:row; height:max-content; margin-top:auto; margin-bottom:auto">
      <input name="search" placeholder="Name" value="{{search}}"/><button>Suchen</button>

      {%if search%}
      <a href="/customers" style="width:max-content; margin:auto">reset</a>
      {%endif%}
    </form>
  </div>
  <hr/>

  <table>
    <thead>
      <tr>
      {% for k,v in customers.0.items%}
        <td>
          {{k}}
        </td>
      {%endfor%}
      </tr>
    </thead>
    <tbody>

    {% for i in customers%}
      {%if i.created%}
      <tr>
        {% for k,v in i.items%}
        <td>
          {{v}}
        </td>
        {%endfor%}
      </tr>
      {%endif%}
    {% endfor%}
    </tbody>
  </table>

  <div class="row">
    <div style="margin-left:auto; width:max-content" class="row">



      {% if has_skip%}
      <a href="?skip={{skip|add:-25}}">
        Previous
      </a>
      {%endif%}
      <a href="?skip={{skip|add:25}}">
        Next
      </a>

    </div>



  </div>

</div>

{%endblock %}
