{%extends "base.html"%}{%block main%}

<div class="wrapper">
  <h1>Kunden registrieren</h1>
  <hr/>
  {%if success%}
  <flash>
    Neue Buchung erfolgreich hinzugefügt ✅
  </flash>
  {%endif%}
  <form method="post">
    {%csrf_token%}
    <label>Kartennummer</label>
    <input required name="identifier" placeholder="crd_101302"/>
    <info>
      Die Kartennummer steht auf der Karte unter dem QR code
    </info>
    <label>Sitznummer</label>
    <input required name="seat" placeholder="seat_120034" type="number"/>
<hr/>
    <label>Vorname</label>
    <input required name="first_name" placeholder="John"/>
    <label>Nachname</label>
    <input required name="last_name" placeholder="Doe"/>
    <label>Geburtsdatum</label>
    <input required name="birthdate" type="date"/>

    <button>Erstellen</button>
  </form>
</div>

{%endblock %}
