{%extends "base.html"%}{%block main%}

<div class="wrapper">
  <h1>Kunden registrieren</h1>
  <hr/>
  {%if success%}
  <flash>
    Neue Buchung erfolgreich hinzugefügt ✅
  </flash>
  {%endif%}
  {%if error%}
  <flash-danger>
    {{error}}
  </flash-danger>
  {%endif%}
  <form method="post">
    {%csrf_token%}
    <label>Kartennummer</label>
    <input required name="identifier" placeholder="crd_101302"/>
    <info>
      Die Kartennummer steht auf der Karte unter dem QR code
    </info>

      <hr/>
    <label>Vorname</label>
    <input required name="first_name" placeholder="John"/>
    <label>Nachname</label>
    <input required name="last_name" placeholder="Doe"/>
    <label>Geburtsdatum</label>
    <input required name="birthdate" type="date"/>
    <div style="display:flex;flex-direction:row">
      <input type="checkbox" value="1" style="width: auto" name="is_teacher"/>
      <label style="width: max-content">Ist Lehrer</label>
    </div>


    <button>Erstellen</button>
  </form>
</div>

{%endblock %}
