{%extends "base.html"%}{%block main%}

<div class="wrapper">
  <h1>Kunden registrieren</h1>
  <hr/>
  {%if success%}
  <flash>
    <pre>{{success}}</pre>
  </flash>
  {%endif%}
  {%if error%}
  <flash-danger>

    <pre>{{error}}</pre>
  </flash-danger>
  {%endif%}
  <form method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <label>Scan QR</label>
    <input type="file" name="qr" accept="image/*;capture=camera">
    <label>Token</label>
    <input name="token"/>
    <button>Verifizieren</button>
  </form>
</div>

{%endblock %}
