{%extends "base.html"%}{%block main%}

<div class="wrapper">
  <h1>Kunden verifizieren</h1>
  <hr/>
  {%if success%}


  <div>

<h1>
  {{success.first_name}}
<span style="font-size:30px" class="dimmed">
  {{success.last_name}}
</span>
</h1>



    <div class="row">

    <div style="width: 30%">
      <bold>Geburtsdatum</bold>
      {{success.birthdate}}
    </div>

      <div style="width:30%">
<bold>Ist Lehrer?</bold>


      {%if success.is_teacher%}
         ✅
        {%else%}
        Nein
          {%endif%}

      </div>




    </div>
<div class="row">
      <div style="width: 30%">
      <bold>Karten id</bold>
      {{success.id}}
    </div>
</div>
  </div>




<hr>
  {%endif%}
  {%if error%}
  <flash-danger>
    <bold>
    Keinen Kunden gefunden.</bold><br><br>
      Error:    <pre>{{error}}</pre>
  </flash-danger>
  {%endif%}
  <form method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <label>Kartennummer</label>
    <input id="qrscan" name="identifier" autofocus/>
    <button>Verifizieren</button>
  </form>
</div>

<script>
    window.onload = function() {
    var input = document.getElementById("qrscan").focus();
}
</script>{%endblock %}
